node_modules
.env.*
uploads/
backend/uploads/avatar/*
backend/uploads/bug-attachments/*
backend/uploads/evidences/*
backend/temp/
backend/prisma/*.db
*.db
backend/coverage/
*.log
.DS_Store
node_modules/
cypress/videos/
package.json
package-lock.json
ecosystem.config.js
cypress.config.js 